/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


/* Make sure the body occupies the whole page */
html, body {
    height: 100%;
}


/* Give a basic grid layout and make header and footer fixed size 
and main part size auto */
body {
    background-color: #555;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-rows: 50px auto 50px; */
}

/* Split header into 2 columns and  */
header {
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr;
    /* grid-column: 1 / 4; */
    align-items: center;
}

#name {
    font-size: 70px;
}

h2 {
    font-size: 60px;
}

/* Push the navbar to far right evenly */
nav {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}


/* Split main into 4 columns, 1 for the subtitle and the remaining for contents */
main {
    /* grid-column: 1 / 4; */
    display: grid;
    /* grid-template-columns: 1fr 3fr; */
    min-height: 2500px;
}

#about_me {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.about {
    font-size: 30px;
    font-family: sans-serif;
    padding-top: 60px;
}

.main_div h2 {
    text-align: right;
    padding : 30px;
    margin-right: 20px;
    border-right: 5px solid;
}


#work {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#resume {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* h2 {
    grid-column: 1/2;
    height: auto;
} */

/* section {
    grid-column: 2/4;
} */

/* .about {
    align-self: flex-start;
} */

.work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "art1 art1"
    "art2 art3"
    "art4 art5";
    gap: 20px;
    
}


#a1 {
    grid-area: art1;
    background-image: url(../images/jake_eatery.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

#a2 {
    grid-area: art2;
    background-image: url(../images/Horiseon.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

#a3 {
    grid-area: art3;
    background-image: url(../images/Prework.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

#a4 {
    grid-area: art4;
    background-image: url(../images/02-portfolio-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

#a5 {
    grid-area: art5;
    background-image: url(../images/02-run-buddy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.work a:hover {
    opacity: .5;
}

.work a {
    text-decoration: none;
}

.text-box {
    background-color: rgb(0, 162, 255);
    width: 80px;
    justify-content: flex-end;
    align-self: center;
}


footer {
    grid-column: 1 / 4;
}




/* .about_class{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;

}


div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "art1 art1"
    "art2 art3"
    "art4 art5";
}

#art1 {
    grid-area: art1;
    background-image: url(../starter/images/02-portfolio-2.jpg);
}

#art2 {
    grid-area: art2;
    background-image: url(../starter/images/02-portfolio-3.jpg);
}

#art3 {
    grid-area: art3;
    background-image: url(../starter/images/02-portfolio-4.jpg);
}

#art4 {
    grid-area: art4;
    background-image: url(../starter/images/02-run-buddy.jpg);
}

#art5 {
    grid-area: art5;
    background-image: url(../starter/images/02-portfolio-1.jpg);
} */
footer {
    grid-column: 1 / 3;
}

@media (max-width: 750px) {
    body {
    background-color: orange;
    }
}